body {
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    gap: 20px;
    align-items: center;
    justify-content: center;
    height: 600px;
}

.display {
    border: 1px black solid;
    width: 268px;
    height: 100px;
    margin-left: 5px;
    border-radius: 10px;
    
}

.numbers {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 275px;
    height: 200px;
    gap: 10px;
}

.zeroRow,.fourthRow, .secondRow,.thirdRow,.firstRow {
    display: flex;
    justify-content: flex-end;
    width: 275px;
    gap: 10px;
}

button {
    width: 60px;
    padding: 0px;
    height: 60px;
    border-radius: 30px;
    border: 0.5px black none;
}

.equal, .clear {
    width: 130px;
}