body {
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    gap: 20px;
    align-items: center;
    justify-content: center;
    height: 600px;
    font-family: 'Roboto', Arial, Helvetica, sans-serif;
    background-color: #1f2933;
}

.display {

    border: 1px black solid;
    width: 268px;
    height: 100px;
    margin-left: 5px;
    border-radius: 10px;
    text-align: right;
    box-shadow: 1px 1px 1px #e5e7eb;
    background-color: #e5e7eb;
}

.displayNum, .displaySecondNum {
    margin:0;
    padding-right: 10px;
}

.displaySecondNum {
    font-size: 40px;
    padding-top: 20px;
    font-weight: 300;
}
.displayNum {
    font-size: 20px;
    padding-top: 10px;
    font-weight: 200;
}


.numbers {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 275px;
    height: 200px;
    gap: 10px;
    
}

.zeroRow,.fourthRow, .secondRow,.thirdRow,.firstRow {
    display: flex;
    justify-content: flex-end;
    width: 275px;
    gap: 10px;
}

button {
    width: 60px;
    padding: 0px;
    height: 60px;
    border-radius: 30px;
    border: 0.5px black none;
    font-family: 'Roboto', Arial, Helvetica, sans-serif;
    font-size: 30px;
    font-weight: 200;
    background-color: #e5e7eb;
}

.equal, .clear {
    width: 130px;
}

.backSpace {
    font-weight: 100;
    font-size: 20px;
}